<h5>payment works!</h5>

<div class="card text-center" style="margin:auto;width:900" >
    <table class="form-group table table-condensed" style="border: 1px solid lightgrey;">
        <thead>
            <tr>
                <th>Auto Pay - Add New Card</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <p class="control-label">Cardholder Name</p>
                    <div><input class=" ng-untouched ng-pristine ng-valid" type="text"></div>
                    <!---->
                </td>
            </tr>
            <tr>
                <td>
                    <p class="control-label">Card Number</p>
                    <div><input class=" ng-untouched ng-pristine ng-valid" maxlength="16" type="number">
                    </div>
                    <!---->
                </td>
            </tr>
            <tr>
                <td>
                    <p class="control-label">Expiration Date (MM/YY)</p>
                    <div><input class=" ng-untouched ng-pristine ng-valid" maxlength="5" type="text"></div>
                    <!---->
                </td>
            </tr>
        </tbody>
    </table>
    <div style="padding-bottom: 15px; color: red; text-align: center;"></div>
    <div style="text-align: center;"><button class="btn btn-submit btn-primary" type="submit" routerLink="/success">Submit</button></div>
</div>